/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color, #000028);
  position: relative;
  z-index: 0;
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  z-index: 0;
  height: 100vh;
  min-height: 668px;
  padding-block: 10px;
  padding-left: 10px;
  padding-right: 8px;
}

.decoration {
  position: absolute;
  color: var(--nav-color, #FF0070);
  font-family: var(--text-font, monospace), monospace;
  font-size: var(--text-size, 18px);
  z-index: 1;
  top: 12px;
  right: 38px;
}

.decoration::after {
  content: "";
  width: 9px; 
  height: 9px;
  background: #FF0070;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: -19px;
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: solid 1px var(--nav-color, #FF0070);
  border-right: solid 1px var(--nav-color, #FF0070);
  width: 25px;
  height: 25px;
  right: 9px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: solid 1px var(--nav-color, #FF0070);
  border-left: solid 1px var(--nav-color, #FF0070);
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 11px;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  align-items: center;
  padding-top: 62px;
  gap: 8px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--nav-color, #FF0070);
  font-family: var(--text-font, monospace), monospace;
  text-transform: lowercase;
  font-size: var(--text-size);
  width: 4em;
  height: 1.63em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--hover-color, rgb(255, 0, 112 , 0.4));
  width: 72px;
  height: 29px;
}

.header__theme-menu-button:focus {
  border-bottom: solid 1px var(--nav-color);
}

.header__theme-menu-button:active {
  border: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button_active {
  border: solid 1px var(--nav-color, #FF0070);
  width: 71px;
  height: 28px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button_active:hover {
  outline: none;
}

.header__theme-menu-button_active:focus-visible {
  outline: none;
}

.main-title {
  font-family: var(--text-font, monospace), monospace;
  font-size: var(--title-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  color: var(--title-color, #DB00FF);
  padding-block: 65px 57px;
  writing-mode: horizontal-tb;
  line-height: 0.82em;
  text-shadow: 5px 5px 0 var(--title-shadow-color, #FF0070);
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--main-color, #000028);
  font-family: var(--text-font, sans-serif);
  font-size: var(--text-size, 18px);
  font-weight: bold;
}

.bold-title {
  font-family: var(--text-font, monospace), monospace;
  font-size: var(--text-size);
  color: var(--nav-color, #FF0070);
  font-weight: bold;
}

.normal-title {
  background-color: var(--accent-color);
  color: var(--main-color, #000028);
  font-family: var(--text-font, sans-serif);
  font-size: var(--text-size, 18px);
  font-weight: normal;
}

.main {
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  padding-block-start: 45px;
}

.section-header {
  padding-block-end: 22px;
}

.article {
  padding-block-start: 20px;
}



.paragraph {
  font-family: var(--text-font, monospace), monospace;
  color: var(--text-color, #F1B2CE);
  font-size: var(--text-size, 18px);
  padding-block-start: 10px;
  line-height: 23.4px;
}

.link-shadow {
  text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
  text-decoration: none;
}

.link-shadow:hover {
  border-bottom: 1px solid var(--text-color);
}

.link-shadow:focus {
  outline: solid 1px var(--text-color);
}

.link-shadow:focus-visible {
  outline: none;
}

.images {
  padding-block-start: 10px;
  width: 100%;
}

.images-section {
  padding-block-end: 51px;
  padding-block-start: 53px;
  display: grid;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-title {
  font-family: var(--text-font, monospace), monospace;
  font-size: var(--title-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  color: var(--title-color, #DB00FF);
  padding-block: 248px 240px;
  padding-left: 5px;
  text-shadow: 2px 2px 0 var(--title-shadow-color, #FF0070);
}

.footer.decorated-zone::after {
  bottom: 20px;
  left: 10px;
}

@media (width >= 768px) {
  .page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: -125px;
    left: 20px;
  }
  
  .decoration {
    top: 22px;
    right: 49px;
  }
  
  .decoration::after {
    top: 7px;
    right: -19px;
  }

  .header__theme-menu-list {
    padding-top: 188px;
    padding-right: 19px;
  }

  .header {
    padding-block-end: 80px;
    padding: 0;
  }

  .title-position {
    padding-left: 50%;
    padding-block: 162px 183px;
    padding-right: 20px;
  }
  
  .main-title {
    padding-block-start: 174px;
    padding-block-end: 0px;
  }

  .main {
    padding-block-start: 207px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    display: flex;
    gap: 20px;
    padding-block-end: 79px;
    padding-block-start: 0px;
  }

  .article-size {
    width: 472px;
  }

  .bold-title {
    width: 236px;
  }

  .section:first-of-type .article:first-of-type {
    padding-block-start: 0;
  }

 .section.articles-position {
    display: flex;
    flex-direction: column;
  }

  .articles-position .article:first-of-type {
    padding-top: 21px;
  }

  .paragraph:not(:last-of-type) {
    padding-block-end: 20px;
  }

  .section.images-section {
    display: grid;
     padding-block-start: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23px 192px 230px 318px;
    gap: 20px;
    grid-template-areas: 
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
  }

  .images-section .title-decor {
    grid-area: title;
  }

  .images:nth-of-type(1) {
    grid-area: sunset;
    height: 100%;
  }

  .images:nth-of-type(2) {
    grid-area: ice-cream;
    object-fit: cover;
    height: 100%;
  }

  .images:nth-of-type(3) {
    grid-area: tape;
    object-fit: cover;
    height: 100%;
  }

  .images:nth-of-type(4) {
    grid-area: books;
    height: 100%;
  }

  .images:nth-of-type(5) {
    grid-area: street;
    height: 100%;
  }

  .images {
    padding-block-start: 0;
    padding-block-end: 0;
  }

  .footer-title {
    text-align: center;
    padding-block-start: 417px;
  }

  .footer.decorated-zone::before {
    top: 0;
    right: 20px;
  }
  
  .footer.decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (1024px <= width)  {
  .page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    justify-content: center;
    padding-top: 16px;
    padding-left: 16px;
    gap: 10px;
    align-items: center;
  }

  .main-title {
    padding-block: 276px 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-position {
    padding-left: 50%;
    padding-block: 114px 103px;
  }

  .main {
    padding-block-start: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    display: flex;
    padding-block-end: 80px;
    padding-block-start: 0;
  }

  .article-size {
    width: calc(100vi - 375px);
  }

  .bold-title {
    width: 315px;
  }

 .article-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-start: 2px;
  }

  .article-column .article {
    max-width: 31.9%;
  }

  .section.images-section {
    padding-block-start: 2px;
    grid-template-rows: 23px 260px 315px 433px;
  }

  .footer-title {
    text-align: center;
    padding-block: 262px 319px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .footer.decorated-zone::after {
    bottom: 39px;
    left: 20px;
  }
}